html {
  /*font-size: 10.5pt;*/ /* Base font size */
  font-size: 1rem;
}

@page {
  size: A4;
  margin: 12.7mm;
}

body {
  background-color: white;
  max-width: 210mm;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Global styles for all elements */
* {
  /* color: #000000; */
  color: #000000;
  font-weight: 300;
  font-family: "Helvetica Neue", "sans-serif", "Arial";
}

table {
  margin: auto;
  width: 100%
}

thead {
  display: none;
}

/* Remove underline from links */
a {
  text-decoration: none;
  color: #b22c2c;
}

/* Style for bold text */
b,
strong {
  font-weight: 600;
}

/* Remove default margins from paragraphs  */
p {
  margin: 0;
  line-height: 1.2;
  font-size: 0.9rem;
}

/* Common styles for all headings */
h1,
h2,
h3,
h4,
h5 {
  border: none;
  margin-bottom: 0.0rem;
}

/* Specific styling for h1 */
h1 {
  font-size: 2rem;
  font-weight: 200;
  text-align: left;
  padding-bottom: 0rem;
  margin-top: 0rem; /* Adjust as needed for html */
  margin-bottom: 0.5rem;
  color: #000000;
}



/* Additional styles for paragraph immediately following h1 */
h1 + p {
  text-align: left;
  line-height: 1rem;
  margin-bottom: 1rem;
}

/* Styling for h2 */
h2 {
  font-size: 1.3rem;
  font-weight: 500;
  /*border-bottom: 1px solid #eee;*/
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

/* Styling for h3 */
h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  color: #000000;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  color: #999;
}

/* Style for emphasized text */
em {
  font-size: 0.9rem;
  float: right;
  font-weight: 400;
  font-style: normal;
}

/* Set line height for paragraphs and list items */
ul li {
  line-height: 1.2;
}
ol li {
  line-height: 1.5;
}

/* Remove default margins and padding from lists and list items */
ul,
ol,
ul > li,
ol > li {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

/* Add left padding to lists  and remove default number or bulletpoint for ol and ul*/

ul {
  /*padding-left: 1rem;*/
  list-style-type: none;
  /*margin-left: 1.2rem;*/
  margin-bottom: 0.8rem;
}

ol {
  list-style-type: none;
  padding-left: 0rem;
  margin-bottom: 0.8rem;
}

/* Use a - or you can use "* " for ordered lists */
/*ul li::before {
  margin-right: 0.5rem;
}*/

ol li::before {
  /* color: #007aff; */
  color: #000000;
  font-weight: bold;
  margin-right: 0.8rem; /* Add some space between the bullet and the text */
  content: "•";
}

/*
ul li::before {
  content: "-";
}
*/

@media print {
  h1 {
    margin-top: 0rem; /* Adjust as needed for PDF */
  }
}



code {
  display: inline-block;
  padding: 8px 8px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;

  text-align: center;
  white-space: nowrap;
}